.shop-content {
  margin-top: 96px;
  padding: 50px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;
  width: calc(100vw - 48px);
  overflow: scroll;
  position: relative;
}

.shop-heading {
  font-weight: 400;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.shop-cards {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.bread-crumbs {
  position: absolute;
  top: 10px;
  left: 24px;
  font-size: 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.bread-crumb-text {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.sort-feature {
  position: absolute;
  top: 10px;
  right: 24px;
  width: fit-content;
}

.sort-dropdown {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sort-dropdown:focus {
  outline: none;
  border: none;
}

.sort-dropdown:focus-visible {
  outline: none;
  border: none;
}
