.item-content {
  display: grid;
  height: 100vh;
  margin-top: 96px;
  width: 100%;
  grid-template-columns: 60% 1fr;
  gap: 2rem;
  padding-top: 50px;
  z-index: 4;
  background-color: rgb(255, 255, 255);
}

.item-img-div {
  height: 100%;
  width: 100%;
  grid-column: 1 / 2;
  display: flex;
  justify-content: end;
  align-items: start;
}

.item-img {
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
  overflow: hidden;
  height: 70%;
  width: 95%;
}

.item-info {
  display: flex;
  grid-column: 2 / 3;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  height: 70%;
}

.item-name {
  font-size: 28px;
}

.item-description {
  color: rgb(127, 127, 127);
  font-weight: 400;
  font-size: 18px;
}

.item-price {
  font-size: 28px;
  font-weight: 700;
}

.item-cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}

.item-continue-btn {
  padding: 18px 20px;
  font-size: 20px;
  border: none;
  background-color: rgb(220, 220, 220);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: -1rem;
}

.item-continue-btn:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}

.item-add-to-cart:hover {
  background-color: rgba(23, 23, 23, 0.8);
  cursor: pointer;
}

.item-add-to-cart {
  padding: 18px 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 600;
  border-radius: 5px;
}

.q-input {
  font-size: 24px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 40px;
  width: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.q-btn {
  background-color: rgb(220, 220, 220);
  color: rgba(0, 0, 0, 0.8);
  border: none;
  font-size: 24px;
  width: 40px;
  padding: 8px 5px;
}

.q-btn:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}
